.LivePage {
  font-family: "Roboto", sans-serif;
  margin-left: 30%;
  margin-top: 50px;
}

.livepg-text {
  color: #767676;
  font-weight: 300;
  font-size: 20px;
}

.livepg-h4 {
  color: #212121;
  font-weight: 300;
  font-size: 20px;
}
