* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Login {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}

.welcome {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 70px;
}

.label {
  color: #9290a7;
  font-weight: 400;
  font-size: 14px;
}

.input {
  width: 339px;
  height: 46px;
  border: 1px solid #ced2de;
  border-radius: 8px;
  margin-bottom: 20px;
}

.log {
  margin-left: 38%;
}

.img {
  padding-top: 10px;
  cursor: pointer;
}

.text {
  border: none;
  width: 300px;
  padding-left: 10px;
  font-size: 14px;
}

.text:focus {
  outline: none;
}

.forgot {
  text-decoration: none;
  color: #0062f5;
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-left: 58%;
}

.log-button {
  margin-left: 37.6%;
  width: 356px;
  height: 46px;
  background-color: #5124ff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 50px;
  cursor: pointer;
}

.sign {
  display: inline-block;
  text-decoration: none;
  color: #0062f5;
  margin-left: 5px;
}

.to-sign {
  display: flex;
  margin-left: 42%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

.error {
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Login {
  animation: fadeIn 1s ease-in;
}
