* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Ocean {
  font-family: "Roboto", sans-serif;
}

.h1-all {
  color: #212121;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2-all {
    margin-left: 22%;
    color: #212121;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.text-all {
    margin-left: 22%;
    color: #757575;
    width: 600px;
    font-weight: 400;
    font-size: 16px;
}

.all-img {
    margin-left: 22%;
    width: 600px;
    margin-bottom: 50px;
}

.ar-back{
    cursor: pointer;
    margin-top: 50px;
}