* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.TherapistsPage {
  font-family: "Roboto", sans-serif;
}

.therapImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.therapH4 {
  color: #3c3c3c;
  font-weight: 300;
  font-size: 16px;
}

.therapH1 {
  color: #212121;
}

.grey-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
